body{
    background-image: url('download.jpg');
    background-position: center;
    background-size: cover;
}
.container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    height: 470px;
    width: 400px;
    background-color: white;
    border-radius: 4px;
}
.hiddenContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
.hiddenElements{
    position: relative;
    height: 200px;
    width: 500px;
    background-color: paleturquoise;
    border-radius: 4px;
}
#okbtn{
    position: relative;
    width: 100px;
    top: 120px;
    left: 200px;
}
#txt{
    position: absolute;
    top: 30px;
    font-weight: 500;
    font-size: 24px;
    padding: 0 120px;
    text-align: center;
}